#pragma once

// Ganti dengan SSID dan Password WiFi Anda
#define WIFI_SSID  "Woa"
#define WIFI_PASS  "esp-23**"

// Konfigurasi MQTT Broker
#define MQTT_HOST  "172.20.10.2"
#define MQTT_PORT  1883
#define MQTT_ID    "cnc-esp32"
